/*Estilos generales*/
font{
  color: white;
}
body.headus{
  background-color:#272b2d;
}
div.corpus{
  background-color:#5c615c;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 2%;
  padding-bottom: 2%;
}
.whiteborder{
  border-left: solid;
  border-left-color: white;
  border-left-width: 5px;
}
.roundbottom{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.roundtop{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
img.round{
  border-radius: 50px;
}
.topmargin{
  margin-top: 5%;
}
.sandwichpad{
  padding-top: 2%;
  padding-bottom: 2%;
}
a.simple{
  background-color: #383837;
  color: inherit;
  text-decoration: none;
}
a:hover.simple{
  color:inherit;
  text-decoration:none;
  cursor:pointer;
}
/*Posts*/
.ppost{
  margin-bottom: 2%;
  padding-left: 2%;
  background-color: #555454;
  border-radius: 5px;
}
.pheader{
  margin-bottom: 0;
  padding-left: 2%;
  background-color:#383837;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.pbody{
  margin-bottom: 2%;
  padding-left: 2%;
  background-color: #555454;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.presume{
  margin-bottom: 2%;
  padding-left: 2%;
  background-color: #454545;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left-style: solid;
  border-left-color: white;
  border-left-width: 5px;
}
.mainheader{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color:#5c615c;
}
h1.maintext{
  font-family: arial;
  font-weight: bold;
  font-size: 50px;
}

/*Colores*/
.igrey{
  background-color:#383837;
}
.grey{
  background-color:#272b2d ;
}
.lgrey{
  background-color: grey;
}
